.top{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CE7BB0;
}
.name{
  float:left;
  color:#93FFD8;
  font-size: 40px;
  padding: 15PX 15PX;
  word-spacing: 5px;
}

.nav{
  float:right;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
.pic1{
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: white;
  padding-bottom: 0px;
}
.middle{
list-style: none;
margin: 0;
padding: 10px;
text-indent: 70px;
overflow: hidden;
background-color: #9A0680;
}
.nav2{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
div.heading
{
  background-color:#FFCCD2;
  text-align: center;
  padding-bottom: 10px;
}
div.responsive{
  float: left;
  padding: 30px;
  background-color: #EFDAD7;
}
div.heading2{
  padding: inherit;
  background-color:#FFCCD2;
  text-align: center;
  margin: 0;
  }
#features{
text-align: center;
background-color: #F3C5C5;
color:#fff;
}
.features-image{
  width: 50%;
  margin: 20px;
}
.carousel-item{
  padding:7% 15%;
}
